.habbit{
    margin: 0 50px;
    width: 600px;
    height: 500px;
    border: 1px solid black;
    position: relative;
    /* display: grid;
    grid-template-columns:100px auto; */
}
.days{
    display: grid;
    grid-template-columns:100px  repeat(21, 23px);
    position: relative;
    z-index: 5;
}
.habbit_line{
    display: grid;
    grid-template-columns: 100px repeat(21, 23px);
}
.days span{
    text-align: center;
  border-bottom: 1px solid black;
  border-left: 1px solid black;
}

.habbit input ,button{
    position: relative;
    z-index: 5;
    transform: scale(0.5);
}

.habbit canvas{
   position: absolute;
    top:0;
    left:0;
   z-index:1
}

.habbit_container{
    display: flex;
}